In [479]:
#pip install gspread oauth2client

import gspread
from oauth2client.service_account import ServiceAccountCredentials
from pprint import pprint
import json, ast



scope = ["https://spreadsheets.google.com/feeds",'https://www.googleapis.com/auth/spreadsheets',"https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive"]

creds = ServiceAccountCredentials.from_json_keyfile_name("creds.json", scope)
client = gspread.authorize(creds)
sheet = client.open("recipeselector").sheet1  # Open the spreadhseet
raw = sheet.get_all_records()
data = ast.literal_eval(json.dumps(raw))
pprint (data)

#row = sheet.row_values(3)  # Get a specific row, rows in google sheet start with 1 as the index value
#col = sheet.col_values(3)  # Get a specific column
#cell = sheet.cell(1,2).value  # Get the value of a specific cell

#insertRow = ["hello", 5, "red", "blue"]
#sheet.add_rows(insertRow, 4)  # Insert the list as a row at index 4

#sheet.update_cell(2,2, "CHANGED")  # Update one cell

#numRows = sheet.row_count  # Get the number of rows in the sheet

[{'Date': '05/12/2019',
  'Dish': 'Pav bhaji',
  'Row': 2,
  'Score': 3.0,
  'Type': 5,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'dabeli',
  'Row': 3,
  'Score': 4.0,
  'Type': 3,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'laksa',
  'Row': 4,
  'Score': 5.0,
  'Type': 5,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'Gujarati dal',
  'Row': 5,
  'Score': 3.0,
  'Type': 1,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': '4 daal mix',
  'Row': 6,
  'Score': 3.0,
  'Type': 1,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'lasooni palak dal',
  'Row': 7,
  'Score': 3.0,
  'Type': 1,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'amti ',
  'Row': 8,
  'Score': 4.0,
  'Type': 1,
  'ing': ''},
 {'Date': '05/05/2019',
  'Dish': 'sambar',
  'Row': 9,
  'Score': 4.0,
  'Type': 1,
  'ing': ''},
 {'Date': '05/12/2019',
  'Dish': 'sindhi kadi',
  'Row': 10,
  'Score': 4.0,
  'Type': 1,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'dahi kadi with pakoda',
  'Row': 11,
  'Score': 3.5,
  'Type': 1,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'vada ',
  'Row': 12,
  'Score': 5.0,
  'Type': 3,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'aloo cutlet',
  'Row': 13,
  'Score': 5.0,
  'Type': 3,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'dhokla ',
  'Row': 14,
  'Score': 4.0,
  'Type': 3,
  'ing': ''},
 {'Date': '05/12/2019',
  'Dish': 'Samosa',
  'Row': 15,
  'Score': 5.0,
  'Type': 3,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'Kachori',
  'Row': 16,
  'Score': 5.0,
  'Type': 3,
  'ing': ''},
 {'Date': '05/05/2019',
  'Dish': 'Mexican rice',
  'Row': 17,
  'Score': 4.5,
  'Type': 5,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'veg biryani',
  'Row': 18,
  'Score': 3.0,
  'Type': 5,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'veg Korma',
  'Row': 19,
  'Score': 3.0,
  'Type': 2,
  'ing': 'v'},
 {'Date': '01/01/2019',
  'Dish': 'paneer Frankie masala',
  'Row': 20,
  'Score': 5.0,
  'Type': 2,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'paneer methi  malai',
  'Row': 21,
  'Score': 5.0,
  'Type': 2,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'gobi Manchurian',
  'Row': 22,
  'Score': 3.0,
  'Type': 2,
  'ing': 'g'},
 {'Date': '01/01/2019',
  'Dish': 'saag ',
  'Row': 23,
  'Score': 3.0,
  'Type': 2,
  'ing': 'p'},
 {'Date': '01/01/2019',
  'Dish': 'palak paneer',
  'Row': 24,
  'Score': 3.0,
  'Type': 2,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'batata nu shaak ',
  'Row': 25,
  'Score': 3.5,
  'Type': 2,
  'ing': 'a'},
 {'Date': '01/01/2019',
  'Dish': 'lobia ',
  'Row': 26,
  'Score': 3.0,
  'Type': 2,
  'ing': 'l'},
 {'Date': '01/01/2019',
  'Dish': 'rajma ',
  'Row': 27,
  'Score': 4.0,
  'Type': 2,
  'ing': 'r'},
 {'Date': '05/12/2019',
  'Dish': 'jalapeno bean corn cheese',
  'Row': 28,
  'Score': 5.0,
  'Type': 2,
  'ing': 'j'},
 {'Date': '01/01/2019',
  'Dish': 'kala channa ',
  'Row': 29,
  'Score': 3.5,
  'Type': 2,
  'ing': 'k'},
 {'Date': '05/05/2019',
  'Dish': 'aloo feta kofta     ',
  'Row': 30,
  'Score': 4.0,
  'Type': 2,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'aloo beans coconut oil',
  'Row': 31,
  'Score': 3.0,
  'Type': 2,
  'ing': 'a'},
 {'Date': '01/01/2019',
  'Dish': 'aloo capsicum',
  'Row': 32,
  'Score': 3.0,
  'Type': 2,
  'ing': 'a'},
 {'Date': '01/01/2019',
  'Dish': 'brinjal bharta',
  'Row': 33,
  'Score': 3.0,
  'Type': 2,
  'ing': 'b'},
 {'Date': '01/01/2019',
  'Dish': 'mirchi ka salan ',
  'Row': 34,
  'Score': 3.5,
  'Type': 2,
  'ing': 'j'},
 {'Date': '05/05/2019',
  'Dish': 'turnip bharta ',
  'Row': 35,
  'Score': 3.5,
  'Type': 2,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'corn bharta',
  'Row': 36,
  'Score': 2.0,
  'Type': 2,
  'ing': 'c'},
 {'Date': '05/12/2019',
  'Dish': 'spicy Bombay potato',
  'Row': 37,
  'Score': 3.5,
  'Type': 2,
  'ing': 'a'},
 {'Date': '01/01/2019',
  'Dish': 'broccoli red pepper sauce',
  'Row': 38,
  'Score': 2.0,
  'Type': 2,
  'ing': 'g'},
 {'Date': '05/05/2019',
  'Dish': 'poriyal',
  'Row': 39,
  'Score': 3.0,
  'Type': 2,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'wheat halwa',
  'Row': 40,
  'Score': 4.0,
  'Type': 4,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'seviyan kheer',
  'Row': 41,
  'Score': 4.0,
  'Type': 4,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'sabudana kheer ',
  'Row': 42,
  'Score': 4.0,
  'Type': 4,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'Sooji halwa',
  'Row': 43,
  'Score': 4.0,
  'Type': 4,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'aloo Paratha ',
  'Row': 44,
  'Score': 4.0,
  'Type': 6,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'thepla ',
  'Row': 45,
  'Score': 4.0,
  'Type': 6,
  'ing': ''},
 {'Date': '01/01/2019',
  'Dish': 'poori',
  'Row': 46,
  'Score': 4.0,
  'Type': 6,
  'ing': ''}]

In [487]:
import numpy as ny
import pandas as pd
from datetime import datetime,timedelta



test = pd.DataFrame.from_dict(data)
a =  test.copy()
today=(datetime.today() - timedelta(days=14)).strftime('%m/%d/%Y')
type1=a[(a.Type==1) & (a.Date<=today)]
type2=a[(a.Type==2) & (a.Date<=today)]

b = {}

list = a.index.values.tolist()
list1 = type1.index.values.tolist()
list2 = type2.index.values.tolist()
d = random.choice(list1)
b.update(dict(zip(type1.loc[[d]].Dish,type1.loc[[d]].Score)))

#three sabji (2) and one daal (1), within sabji no repeat of ing and date criteria


#for i in range(len(a)):
    #r = random.choice(list)
    #number = (a.loc[[r]].Score)+sum(b.values())
    #if (len(b)<2): 
        #b.update(dict(zip(a.loc[[r]].Dish, a.loc[[r]].Score)))
    #elif (number>=12).bool() & (number<=18).bool() :
        #b.update(dict(zip(a.loc[[r]].Dish, a.loc[[r]].Score)))
    #list.remove(r)
#print b

for i in range(len(type2)):
    r = random.choice(list2)
    if (len(b)<4):
        b.update(dict(zip(type2.loc[[r]].Dish,type2.loc[[r]].Score)))
    list2.remove(r)
print b

{'veg Korma': 3.0, 'Gujarati dal': 3.0, 'rajma ': 4.0, 'aloo beans coconut oil': 3.0}

In [480]:
raw = pd.DataFrame.from_dict(data)
raw

          Date                       Dish  Row  Score  Type ing
0   05/12/2019                  Pav bhaji    2    3.0     5
1   01/01/2019                     dabeli    3    4.0     3
2   01/01/2019                      laksa    4    5.0     5
3   01/01/2019               Gujarati dal    5    3.0     1
4   01/01/2019                 4 daal mix    6    3.0     1
5   01/01/2019          lasooni palak dal    7    3.0     1
6   01/01/2019                      amti     8    4.0     1
7   05/05/2019                     sambar    9    4.0     1
8   05/12/2019                sindhi kadi   10    4.0     1
9   01/01/2019      dahi kadi with pakoda   11    3.5     1
10  01/01/2019                      vada    12    5.0     3
11  01/01/2019                aloo cutlet   13    5.0     3
12  01/01/2019                    dhokla    14    4.0     3
13  05/12/2019                     Samosa   15    5.0     3
14  01/01/2019                    Kachori   16    5.0     3
15  05/05/2019               Mexican rice   17    4.5     5
16  01/01/2019                veg biryani   18    3.0     5
17  01/01/2019                  veg Korma   19    3.0     2   v
18  01/01/2019      paneer Frankie masala   20    5.0     2
19  01/01/2019        paneer methi  malai   21    5.0     2
20  01/01/2019            gobi Manchurian   22    3.0     2   g
21  01/01/2019                      saag    23    3.0     2   p
22  01/01/2019               palak paneer   24    3.0     2
23  01/01/2019           batata nu shaak    25    3.5     2   a
24  01/01/2019                     lobia    26    3.0     2   l
25  01/01/2019                     rajma    27    4.0     2   r
26  05/12/2019  jalapeno bean corn cheese   28    5.0     2   j
27  01/01/2019               kala channa    29    3.5     2   k
28  05/05/2019       aloo feta kofta        30    4.0     2
29  01/01/2019     aloo beans coconut oil   31    3.0     2   a
30  01/01/2019              aloo capsicum   32    3.0     2   a
31  01/01/2019             brinjal bharta   33    3.0     2   b
32  01/01/2019           mirchi ka salan    34    3.5     2   j
33  05/05/2019             turnip bharta    35    3.5     2
34  01/01/2019                corn bharta   36    2.0     2   c
35  05/12/2019        spicy Bombay potato   37    3.5     2   a
36  01/01/2019  broccoli red pepper sauce   38    2.0     2   g
37  05/05/2019                    poriyal   39    3.0     2
38  01/01/2019                wheat halwa   40    4.0     4
39  01/01/2019              seviyan kheer   41    4.0     4
40  01/01/2019            sabudana kheer    42    4.0     4
41  01/01/2019                Sooji halwa   43    4.0     4
42  01/01/2019              aloo Paratha    44    4.0     6
43  01/01/2019                    thepla    45    4.0     6
44  01/01/2019                      poori   46    4.0     6

In [462]:
raw[(raw.Date=='05/12/2019') & (raw.Type==1)].Date < t

7    False
Name: Date, dtype: bool

In [465]:
type1

         Date                   Dish  Row  Score  Type ing
3  01/01/2019           Gujarati dal    5    3.0     1
4  01/01/2019             4 daal mix    6    3.0     1
5  01/01/2019      lasooni palak dal    7    3.0     1
6  01/01/2019                  amti     8    4.0     1
8  01/01/2019  dahi kadi with pakoda   11    3.5     1

In [380]:
#pick radom variable, check for condition if date is within 2 week, if yes then if the item + sum of all items in an array is between 15 to 20, if yes then append.  If not then pop from original array
b

{3L: 4.0, 4L: 5.0, 5L: 5.0, 7L: 3.0}

In [138]:
#from datetime import datetime
#import random

#datetime_object = datetime.strptime(data[0]['Date'], '%m/%d/%Y')
#datetime_object.date()

#list = test.index.values
#test.iloc[[random.choice(list)]]
#test.iloc[[4]]
#test1 = test.copy()
#test1.drop(0,axis=0,inplace=True)