In [4]:
 good_data = pd.read_sql_query("""
 select top 500000 * from 
 InfobaseUSdemo 
 """,con)

In [5]:
good_data.head()

,seq_num,zip,one_percent_sample,adults with children - age range0-2,adults with children - age range3-5,adults with children - age range6-10,adults with children - age range11-15,adults with children - age range16-17,coo arabia,coo china,...,802360080,802360105,802360119,802360123,802360162,802360195,802360254,802360264,802360267,802360285
0,1207588,15644,1,,,,,,,,...,,,,,,,,,,
1,1089915,28625,1,,,,,,,,...,,,,,,,,,,
2,1805033,73055,1,,1,,,,,,...,,,,,,,,,,
3,484658,44137,1,,,,,,,,...,,,,,,,,,,
4,1207589,15644,1,,,,,,,,...,,,,,,,,,,

In [6]:
good_data1= good_data.apply(pd.to_numeric,errors='coerce')

In [7]:
good_data1 = good_data1.fillna(0)

In [8]:
 [ col  for col, dt in good_data1.dtypes.items() if dt == object]

[]

In [9]:
good_data1 = good_data1.drop(['seq_num','zip'],axis=1)

In [ ]:
from sklearn.decomposition import PCA
import prince
import visuals as vs

#pca = PCA(n_components=6).fit(good_data1)
mca = prince.MCA().fit(good_data1)
mca = mca.transform(good_data1)

# Generate PCA results plot
#pca_results = vs.pca_results(good_data1, mca)
#print pca_results['Explained Variance'].cumsum()

In [14]:
print(mca)

               0         1
0      -0.068107 -0.294508
1       0.011150 -0.077371
2      -0.157636 -0.115423
3      -0.197633  0.129405
4       0.073252 -0.136110
...          ...       ...
499995 -0.208833  0.097232
499996  0.114934 -0.175555
499997  0.086323 -0.043534
499998 -0.253789 -0.136080
499999 -0.177773  0.072653

[500000 rows x 2 columns]

In [109]:
sqlcolumns = pd.read_csv('SQLcolumns.csv')

In [110]:
sqlcolumns.head()
test = sqlcolumns[sqlcolumns['SourceID'] == 'PAF Std - AP Score 1']

In [125]:
#k = {'name1':test.apply(lambda x:x)} 
    
#k = pd.DataFrame(test.iloc[:,1],index=None)
    
#test['SQL columns'].apply(lambda x:x,axis=1)

In [ ]:
[300449299],	[300622299],	[300451299],	[300454299],	[300036299],	[300576299],	[300121299],	[300038299],	[300456299],	[300633299],	[300567299],	[300432201],	[300206299],	[300149299],	[300636299],	[300050299],	[300561299],	[300572299],	[300484299],	[300531299],	[300598299],	[300139299],	[300032299],	[300656299],	[300620299],	[300035299],	[300495299],	[300457299],	[300499299],	[300254299],	[300520299],	[300047299],	[300041299],	[300072299],	[300597299],	[300452299],	[300609299],	[300306299],	[300543201],	[300538299],	[300440299],	[300129207],	[300623299],	[300228299],	[300565299],	[300469299],	[300401299],	[300529299],	[300297299],	[300190299],	[300494299]

In [60]:
 sql_dynamic_parms = dict(
   
  name1= '[300635099],[300452099],[300531099],[300228099],[300622099]',
  table = 'APScore0' 
 )
sql= '''


SELECT {name1} 

FROM 
    {table}
    


'''.format(**sql_dynamic_parms)

params = dict(
  #date_from=pd.to_datetime('2017-01-01'),
  #date_to=pd.to_datetime('2017-12-01'),
  #report_suite=111
   
)

df = pd.read_sql(sql, con)

In [ ]:

#train_data = pd.read_sql_query("""
# Select x
# From APScore1 
 
# """,con)

In [54]:
len(df)

2487249

In [4]:
#train_data1 =train_data.drop(['seq_num','zip','one_percent_sample'],axis=1)

In [34]:
#len(train_data1)

In [61]:
import tqdm
test_ap = {}

for column in  tqdm.tqdm (df):
    #seriesObj1=train_data1.apply(lambda x: True if x[column]==1 else False, axis=1)
    #rownum = len(seriesObj1[seriesObj1 == True].index)
    rownum = len(df[df[column] == '1'])
    #if rownum >=85000:
    test_ap[column] = rownum

  0%|                                                                           | 5/1087064 [00:00<26:41:04, 11.32it/s]

In [63]:
test_ap

                0
300635099  589752
300452099  475479
300531099  475880
300228099  515213
300622099  340615

In [62]:
test_ap =  pd.DataFrame.from_dict(test_ap,orient='index')

In [30]:
#seriesObj1=train_data1.apply(lambda x: True if x['300026699']=='1' else False, axis=1)
#len(seriesObj1[seriesObj1 == True].index)

88619

In [57]:
final = final.append(test_ap)

In [ ]:
test_ap0.append(test_ap1)

In [59]:
final.to_csv('final.csv')